name: "Build and test project on PR"

on:
  pull_request:
    branches:
      - develop

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Dependencies
        run: sudo apt-get update && sudo apt-get install -y make build-essential libgeos-dev libproj-dev

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: stable

      - name: Setup
        run: make setup/ci

      - name: Build
        run: make build

      - name: Test
        run: make test
